@model UserModel

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Create Account</h3>

                <div class="theme-card">
                    <form  method="post" class="theme-form"
                        asp-controller="Users"  asp-action="Register" >
                        <input type="hidden" asp-for="ReturnUrl" />
                        <!-- Validation Summary -->
                        <div asp-validation-summary="All" class="text-danger mb-3"></div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col-md-6">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-solid mt-4">
                            Create Account
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section ends-->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


